<p>You're receiving this email because you requested a password reset
    for your user account at {{ host }}</p>

<p>Please go to the following page and choose a new password:
    <a href="http://{{ host }}{{ url('authentication:password_reset_confirm', args=(uidb64,token)) }}">reset password link</a>
</p>
<p>Thanks for using our site!</p>
<p>The {{ host }} team!</p>