{% extends "authentication/layouts/default.html" %}
{% set register = settings.AUTH_USER_REGISTER %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %} {{ site_name }} | {{_("Site Login")}}{% endblock %}

{% block content %}
    {% include "authentication/layouts/header.html" %}
    <article class="page-content col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <article class="user-login-form">
            <h2>“{{_("Great to see you!")}}”</h2>

            <h2>Kratt</h2>
            <form method="post">
                <div class="form-content">

                    {% if form.errors %}
                        <div class="alert alert-danger text-center" role="alert">
                            {{_("Incorrect login or password!")}}
                            <a href="{{ url('authentication:password_reset') }}" role="button">{{_("Restore password")}}</a>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <input value="{{ strval(form.username.value()) }}" class="form-control" id="username" maxlength="64" name="username" placeholder="{{_("Email or Username")}}" type="email">
                    </div>
                    <div class="form-group">
                        <input value="{{ strval(form.password.value()) }}" name="password" type="password" class="form-control" id="password" placeholder="{{_("Password")}}">
                    </div>
                    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}'/>
                    <input type="hidden" name="next" value="{{ next }}"/>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;margin: 10px 0">{{_("Login")}}</button>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="col-md-12 text-center">
                    {{_("Don’t have an account?")}}
                    <a href="{{ url('authentication:register') }}" role="button">{{_("Sign up here!")}}</a>
                </div>
                <br><br>

                <div class="clear"></div>
            </form>
        </article>
        <div class="clear"></div>
    </article>
    <div class="clear"></div>
{% endblock %}

{% block jsfooter %}
    {{ super() }}
    <script>
        $('#panel').css('height', $(window).height() + 'px');
    </script>
{% endblock %}
