{% extends "authentication/layouts/default.html" %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %} {{ site_name }} | {{_("Reset Password")}}{% endblock %}

{% block content %}
    {% include "authentication/layouts/header.html" %}
    <article class="page-content col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <article class="user-login-form user-request-reset-password-form">
            <h1></h1>
            <h2>“{{_("Reset Password")}}!”</h2>
            <h2>Kratt</h2>

            <form method="post">
                <div class="form-content">
                    {% if form.errors %}
                        <div class="alert alert-danger text-center" role="alert">
                            {% for error in form.non_field_errors() %}
                                {{ error }}<br>
                            {% endfor %}
                            {% for field in form %}
                                {% if field.errors %}
                                    {{ field.label }}: {{ field.errors|striptags }}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}'/>
                    <div class="form-group">
                        <input class="form-control"
                           value="{{ strval(form.email.value()) }}"
                           id="email"
                           maxlength="100"
                           name="email"
                           placeholder="{{_("Email")}}"
                           type="email"
                           autocomplete="off"
                           required
                           data-error="{{_("Incorrect email address.")}}"
                            />
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;margin: 10px 0">{{_("Reset Password")}}</button>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="col-md-12 text-center">
                    {{_("Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.")}}
                </div>
                <br><br>
            </form>
        </article>
    </article>
{% endblock %}

{% block jsfooter %}
    {{ super() }}
    <script src="{{ static('js/validator.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.user-request-reset-password-form').find('form').validator()
        });
    </script>
{% endblock %}