{% extends "authentication/layouts/default.html" %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %} {{ site_name }} | {{_("Set Password")}}{% endblock %}


{% block content %}
{% include "authentication/layouts/header.html" %}
<article class="page-content col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <article class="user-reset-password-form user-login-form">
        <h2>“{{_("Enter new password")}}”</h2>
        <h2>Kratt</h2>
        
        <form method="post">        
            <div class="form-content ">
                {% if validlink %}
                    {% if form.errors %}
                        <div class="alert alert-danger text-center" role="alert">
                            {% for error in form.non_field_errors() %}
                                {{ error }}<br>
                            {% endfor %}
                            {% for field in form %}
                                {% if field.errors %}
                                    {{ field.label }}: {{ field.errors|striptags }}<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                
                            
                    <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
                    <div class="form-group">
                        <input class="form-control"
                               id="new_password1"
                               maxlength="64"
                               minlength="6"
                               name="new_password1"
                               placeholder="{{_("New Password")}}"
                               type="password"
                               autocomplete="off"
                               required
                               data-error="{{_("This field may mot be blank.")}}"
                                />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control"
                               id="new_password2"
                               maxlength="64"
                               minlength="6"
                               name="new_password2"
                               placeholder="{{_("Confirm Password")}}"
                               type="password"
                               autocomplete="off"
                               required
                               data-error="{{_("This field may mot be blank.")}}"
                               data-match="#new_password1"
                               data-match-error="{{_("Whoops, these don't match with New Password field")}}"
                                />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;margin: 10px 0">{{_("Change Password")}}</button>
                    </div>
                    <div class="clear"></div>
                {% endif %}
            </div>
            
            <div class="col-md-12 text-center">
                {% if validlink %} 
                    {{_("Please enter your new password twice so we can verify you typed it in correctly.")}}
                {% else %}
                    {{_("The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.")}}
                {% endif %}
            </div>
            <br><br>
        </form>
    </article>
</article>    
{% endblock %}

{% block jsfooter %}
    {{ super() }}
    <script src="{{ static('js/validator.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.user-reset-password-form').find('form').validator()
        });
    </script>
{% endblock %}


