{% extends "authentication/layouts/default.html" %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %} {{ site_name }} | {{_("Reset Password")}}{% endblock %}

{% block content %}
{% include "authentication/layouts/header.html" %}
<article class="page-content col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">	
    <article class="user-login-form">
        <h2>“{{_("Reset Password")}}!”</h2>
        <h2>Kratt</h2>
        
        <div class="form-content">
            <p>{{_("We've emailed you instructions for setting your password. You should be receiving them shortly.")}}</p>
            <p>{{_("If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.")}}</p>
            <div class="form-group text-center">
                <a href="{{ url('authentication:login') }}" class="btn btn-primary btn-lg" style="width: 100%;margin: 10px 0">{{_("Login Page")}}</a>
            </div>      
            <div class="clear"></div> 
        </div>
    </article>
</article>    
{% endblock %}