{% extends "authentication/layouts/default.html" %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %} {{ site_name }} | {{_("Set Password")}}{% endblock %}

{% block content %}
{% include "authentication/layouts/header.html" %}
<article class="page-content col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <article class="user-login-form">
        <h2>“{{_("Set Password")}}”</h2>
        <h2>Kratt</h2>
        <div class="form-content">
            <p>{{_("Your password has been set.  You may go ahead and log in now.")}}</p>
            <div class="form-group text-center">
                <a href="{{ url('authentication:login') }}" class="btn btn-primary btn-lg" style="width: 100%;margin: 10px 0">{{_("Login Page")}}</a>
            </div>      
            <div class="clear"></div>
        </div>
    </article>
</article>    
{% endblock %}
