{% load compilers i18n admin_static %}

{% pipeline_css 'fileupload' request %}
{% webpack_js_i18n request %}
{% webpack_js 'admin-inline-images' request %}

<script type="text/javascript">
    $(document).ready(function () {
        var aiim = new AdminInlineImagesManager({
            box: '.inline-group',
            uploadUrl: "{{ inline_admin_formset.opts.upload_url }}",
            parentId: "{{ object_id }}",
            uploadconf: {
                accept_file_types: /(\.|\/)(jpe?g|png|pdf)$/i,
                accept_file_extensions: /(\.jpg|\.jpeg|\.png|\.pdf)$/i,
                max_file_size: 8500000,
            },
        });
        aiim.run();
    });
</script>

<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

    <div id="object-fileupload">
        <div id="fileupload-progress" style="margin-bottom: 5px;display: none;">
            <div class="progress-bar" style="width: 0%;"></div>
        </div>
        <input id="fileupload-input" type="file" name="file" multiple>
        <br><br>
        <div id="fileupload-errors"></div>
    </div>

    {% for inline_admin_form in inline_admin_formset %}
        <div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
            <h3><b>{{ inline_admin_formset.opts.verbose_name|title }}:</b>&nbsp;<span class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% else %}#{{ forloop.counter }}{% endif %}</span>
                {% if inline_admin_form.show_url %}<a href="{% url 'admin:view_on_site' inline_admin_form.original_content_type_id inline_admin_form.original.pk %}">{% trans "View on site" %}</a>{% endif %}
                {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
            </h3>
            {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
            {% for fieldset in inline_admin_form %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}
            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
            {{ inline_admin_form.fk_field.field }}
        </div>{% endfor %}
</div>

<style type="text/css">
    #generic-fileupload . bar {
        height: 18px;
        background: green;
        background-image: url({{ STATIC_URL }}js/jquery/plugins/fileupload/img/progressbar.gif);
        background-repeat: repeat-x;
        height: 22px;
    }
</style>