<p>*Прайс створений при курсі $22</p>
<table class="table">
<tbody>
<tr>
<td>
<p>Використання гігієнічного набору</p>
</td>
<td>
<p>10</p>
</td>
</tr>
<tr>
<td>
<p>Анестезія</p>
</td>
<td>
<p>75</p>
</td>
</tr>
<tr>
<td>
<p>Препарування</p>
</td>
<td>
<p>20</p>
</td>
</tr>
<tr>
<td>
<p>Накладання оптідама / кофердама</p>
</td>
<td>
<p>14 / 58</p>
</td>
</tr>
<tr>
<td>
<p>Зняття зубних відкладень ультразвуком 1-го зуба</p>
</td>
<td>
<p>12</p>
</td>
</tr>
<tr>
<td>
<p>Зняття зубних відкладень ультразвуком на щелепі (1 &ndash; й рівень)</p>
</td>
<td>
<p>150</p>
</td>
</tr>
<tr>
<td>
<p>Зняття зубних відкладень ультразвуком на &nbsp;щелепі (2 &ndash; й рівень)</p>
</td>
<td>
<p>195</p>
</td>
</tr>
<tr>
<td>
<p>Повітряно-абразивна поліровка &nbsp;однієї щелепи &nbsp;(1 &ndash; й рівень)</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Повітряно-абразивна поліровка однієї щелепи &nbsp;(2 &ndash; й рівень)</p>
</td>
<td>
<p>125</p>
</td>
</tr>
<tr>
<td>
<p>Комплексна гігієна порожнини рота (1-й рівень)</p>
</td>
<td>
<p>195</p>
</td>
</tr>
<tr>
<td>
<p>Комплексна гігієна порожнини рота (2-й рівень)</p>
</td>
<td>
<p>245</p>
</td>
</tr>
<tr>
<td>
<p>Аплікація на щелепу &ldquo;Діплен&rdquo;</p>
</td>
<td>
<p>75</p>
</td>
</tr>
<tr>
<td>
<p>Глибокий кюретаж (патологычна парадонтальна кишеня)</p>
</td>
<td>
<p>90</p>
</td>
</tr>
<tr>
<td>
<p>Шинування 6 зубів( ікло-ікло)</p>
</td>
<td>
<p>350</p>
</td>
</tr>
<tr>
<td>
<p>Лікування гіперестезії (підвищеної чутливості) емалі 1-го зуба &ndash; 1 сеанс</p>
</td>
<td>
<p>70</p>
</td>
</tr>
<tr>
<td>
<p>Ліквання каналів</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Розкриття та накладання девіталізуючої пасти та пов'язки</p>
</td>
<td>
<p>90</p>
</td>
</tr>
<tr>
<td>
<p>Проходження раніше пломбованого &nbsp;наступного каналу(1-й рівень, 1,5 год.)</p>
</td>
<td>
<p>180.00</p>
</td>
</tr>
<tr>
<td>
<p>Проходження раніше пломбованого &nbsp;наступного каналу(2-й рівень, 2 год.)</p>
</td>
<td>
<p>320.00</p>
</td>
</tr>
<tr>
<td>
<p>Видалення з кореневого каналу зламаного інструмента</p>
</td>
<td>
<p>320.00</p>
</td>
</tr>
<tr>
<td>
<p>Комплаксне лікування 1 канального зуба розробленого єндомотором гуттаперчею (латеральна конденсація) Acroseal</p>
</td>
<td>
<p>290.00</p>
</td>
</tr>
<tr>
<td>
<p>Комплаксне лікування 2 канального зуба розробленого єндомотором гуттаперчею (латеральна конденсація) Acroseal</p>
</td>
<td>
<p>390.00</p>
</td>
</tr>
<tr>
<td>
<p>Комплаксне лікування 3 канального зуба розробленого єндомотором &nbsp;гуттаперчею (латеральна конденсація) Acroseal&nbsp;</p>
</td>
<td>
<p>450.00</p>
</td>
</tr>
<tr>
<td>
<p>Комплаксне лікування 1 канального зуба ручної розробки &nbsp;Foredent</p>
</td>
<td>
<p>150.00</p>
</td>
</tr>
<tr>
<td>
<p>Комплаксне лікування 2 канального зуба ручної розробки &nbsp;Foredent</p>
</td>
<td>
<p>180.00</p>
</td>
</tr>
<tr>
<td>
<p>Комплаксне лікування 3 канального зуба ручної розробки &nbsp;Foredent</p>
</td>
<td>
<p>220.00</p>
</td>
</tr>
<tr>
<td>
<p>Лікувальна кальційвмісна пов'язка в канал</p>
</td>
<td>
<p>90</p>
</td>
</tr>
<tr>
<td>
<p>Лікувальна кальційвмісна пов'язка +1 канал</p>
</td>
<td>
<p>50</p>
</td>
</tr>
<tr>
<td>
<p>Тимчасова цементна пломба</p>
</td>
<td>
<p>90</p>
</td>
</tr>
<tr>
<td>
<p>Тимачасова пломба Tempolat</p>
</td>
<td>
<p>35</p>
</td>
</tr>
<tr>
<td>
<p>Тимчасова пломба Oxydentin</p>
</td>
<td>
<p>50</p>
</td>
</tr>
<tr>
<td>
<p>Закриття перфорації</p>
</td>
<td>
<p>160</p>
</td>
</tr>
<tr>
<td>
<p>Відновлення коронкової частини зуба</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Накладання ізолюючої прокладки</p>
</td>
<td>
<p>145</p>
</td>
</tr>
<tr>
<td>
<p>Пломба зі склоіономерного цементу 1 складності (при карієсі емалі)</p>
</td>
<td>
<p>145</p>
</td>
</tr>
<tr>
<td>
<p>Пломба зі склоіономерного цементу 2 складності (при &nbsp;карієсі дентину плащового)</p>
</td>
<td>
<p>220</p>
</td>
</tr>
<tr>
<td>
<p>Пломба зі склоіономерного цементу 3 складності (при карієсі дентину навколопульпарного)</p>
</td>
<td>
<p>280</p>
</td>
</tr>
<tr>
<td>
<p>Фотополімерна пломба Latelux 1 складності (при карієсі емалі)</p>
</td>
<td>
<p>145.00</p>
</td>
</tr>
<tr>
<td>
<p>Фотополімерна пломба Latelux 2 складності (при &nbsp;карієсі дентину плащового)</p>
</td>
<td>
<p>195.00</p>
</td>
</tr>
<tr>
<td>
<p>Фотополімерна пломба Latelux 3 складності(при карієсі дентину навколопульпарного)</p>
</td>
<td>
<p>245.00</p>
</td>
</tr>
<tr>
<td>
<p>Фотополімерна пломба &nbsp;Filtek Ultimate 1-А складності (при карієсі емалі)</p>
</td>
<td>
<p>240</p>
</td>
</tr>
<tr>
<td>
<p>Фотополімерна реставрація Filtek Ultimate &nbsp;1-А складності (при карієсі дентину плащового)</p>
</td>
<td>
<p>280</p>
</td>
</tr>
<tr>
<td>
<p>Фотополімерна пломбаFiltek Ultimate 3-Аскладності (при карієсі навколопульпарного)</p>
</td>
<td>
<p>320</p>
</td>
</tr>
<tr>
<td>
<p>I, II, III клас * 1,17 %</p>
</td>
<td>
<p>*1,17%</p>
</td>
</tr>
<tr>
<td>
<p>Скловолоконний штифт з розробкою та фіксацією</p>
</td>
<td>
<p>230</p>
</td>
</tr>
<tr>
<td>
<p>Додатковий скловолоконний штіфт</p>
</td>
<td>
<p>150</p>
</td>
</tr>
<tr>
<td>
<p>Оклюзійний ключ (ідентичне відновлення попередньох поверхні зуба, тільки при збережених горбках)</p>
</td>
<td>
<p>+200</p>
</td>
</tr>
<tr>
<td>
<p>Дитячий прийом</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Адаптація пацієнта 15 хв.</p>
</td>
<td>
<p>50</p>
</td>
</tr>
<tr>
<td>
<p>Герматизація фісур 1-го зуба</p>
</td>
<td>
<p>125</p>
</td>
</tr>
<tr>
<td>
<p>Покриття зуба аргенатом срібла чи біфлюоридом</p>
</td>
<td>
<p>50</p>
</td>
</tr>
<tr>
<td>
<p>Пломба зі склоіономерного цементу 1 складності (при карієсі емалі)</p>
</td>
<td>
<p>180</p>
</td>
</tr>
<tr>
<td>
<p>Пломба зі склоіономерного цементу 2 складності (при &nbsp;карієсі дентину плащового)</p>
</td>
<td>
<p>230</p>
</td>
</tr>
<tr>
<td>
<p>Пломба зі склоіономерного цементу 3 складності (при карієсі дентину навколопульпарного)</p>
</td>
<td>
<p>280</p>
</td>
</tr>
<tr>
<td>
<p>Знімне протезування</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Виготовлення знімного протезу з пластмаси вітчизняного виробництва</p>
</td>
<td>
<p>800</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення знімного &nbsp;протезу з матеріалів закордонного виробництва</p>
</td>
<td>
<p>1000</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення знімного протезу з термопластичного матеріалу</p>
</td>
<td>
<p>2500</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення бюгельного протезу</p>
</td>
<td>
<p>3000</p>
</td>
</tr>
<tr>
<td>
<p>Індивідуальна ложка</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Виготовлення діагностичної моделі</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Виготовлення відбитку з альгінатної маси</p>
</td>
<td>
<p>40</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення відбитку з С-силіконової маси</p>
</td>
<td>
<p>75</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення відбитку з А-силіконової маси</p>
</td>
<td>
<p>145</p>
</td>
</tr>
<tr>
<td>
<p>Ремонт знімного протезу (перелом)</p>
</td>
<td>
<p>150</p>
</td>
</tr>
<tr>
<td>
<p>Ремонт знімного протезу (приварка зубу)</p>
</td>
<td>
<p>100</p>
</td>
</tr>
<tr>
<td>
<p>Перебазування знімного протезу</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Ортопедичний прийом</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Лита куксова вкладка із штифтом виготовлена в лаболаторії</p>
</td>
<td>
<p>240</p>
</td>
</tr>
<tr>
<td>
<p>Суцільнолита коронка</p>
</td>
<td>
<p>440</p>
</td>
</tr>
<tr>
<td>
<p>Металокерамічна коронка</p>
</td>
<td>
<p>900</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення фарфорової (безметалевої) коронки Emax</p>
</td>
<td>
<p>2500</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення фарфорової (безметалевої) коронки на каркасі</p>
</td>
<td>
<p>2500</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення вініру</p>
</td>
<td>
<p>2500</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення тимчасової коронки в лабораторії</p>
</td>
<td>
<p>90</p>
</td>
</tr>
<tr>
<td>
<p>Виготовлення тимчасової коронки в кабінеті</p>
</td>
<td>
<p>75</p>
</td>
</tr>
<tr>
<td>
<p>Цементування коронки цементом типу &ldquo;Мерон&rdquo;</p>
</td>
<td>
<p>40</p>
</td>
</tr>
<tr>
<td>
<p>Цементування коронки цементом типу &ldquo;Фуджі-1&rdquo;</p>
</td>
<td>
<p>60</p>
</td>
</tr>
<tr>
<td>
<p>Цементування коронки цементом типу &ldquo;Фуджі+&rdquo;</p>
</td>
<td>
<p>80</p>
</td>
</tr>
<tr>
<td>
<p>Капи</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Індивідуальна капа</p>
</td>
<td>
<p>150</p>
</td>
</tr>
<tr>
<td>
<p>Хірургія</p>
</td>
<td></td>
</tr>
<tr>
<td>
<p>Екстракція 1-кореневого зуба зі збереженою &nbsp;коронкою</p>
</td>
<td>
<p>75</p>
</td>
</tr>
<tr>
<td>
<p>Екстракція 1-кореневого зуба без коронки</p>
</td>
<td>
<p>90</p>
</td>
</tr>
<tr>
<td>
<p>Екстракція 2-кореневого зуба зі збереженою &nbsp;коронкою</p>
</td>
<td>
<p>90</p>
</td>
</tr>
<tr>
<td>
<p>Екстракція 2-кореневого зуба без коронки</p>
</td>
<td>
<p>120</p>
</td>
</tr>
<tr>
<td>
<p>Екстракція 3-кореневого зуба зі збереженою &nbsp;коронкою</p>
</td>
<td>
<p>110</p>
</td>
</tr>
<tr>
<td>
<p>Екстракція 3-кореневого зуба без коронки</p>
</td>
<td>
<p>145</p>
</td>
</tr>
<tr>
<td>
<p>Атипове видалення</p>
</td>
<td>
<p>190-400</p>
</td>
</tr>
<tr>
<td>
<p>Кюретаж лунки видаленого зуба</p>
</td>
<td>
<p>15</p>
</td>
</tr>
</tbody>
</table>